body {
    background-color: black;
}

#notes {
    height: 125px;
    width: 820px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.box {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#c:hover {
    background-color: rgb(252, 89, 89);
    cursor: pointer;
}
#c:active {
    background-color:  rgb(109, 3, 3);
    }
#c {
    background-color: red;
    border: 3px solid rgb(109, 3, 3);
}
#d:hover {
    background-color: rgb(248, 113, 35);
    cursor: pointer;
}
#d:active {
    background-color: rgb(252, 122, 1);
}
#d {
    background-color: orange;
    border: 3px solid rgb(252, 122, 1);
}
#e:hover {
    background-color: rgb(253, 255, 129);
    cursor: pointer;
}
#e:active {
    background-color: rgb(192, 173, 4);
}
#e {
    background-color: yellow;
    border: 3px solid rgb(192, 173, 4);
}
#f:hover {
    background-color: rgb(95, 255, 56);
    cursor: pointer;
}
#f:active {
    background-color: rgb(7, 56, 0);
}
#f {
    background-color: green;
    border: 3px solid rgb(7, 56, 0);
}
#g:hover {
    background-color: rgb(0, 215, 253);
    cursor: pointer;
}
#g:active {
    background-color: rgb(0, 72, 90);
}
#g {
    background-color: rgb(0, 153, 255);
    border: 3px solid rgb(0, 72, 90);
   }
#a:hover {
    background-color: rgb(25, 117, 255);
    cursor: pointer;
}
#a:active {
    background-color:  rgb(8, 0, 112);
}
#a {
    background-color: blue;
    border: 3px solid rgb(8, 0, 112);
}
#b:hover {
    background-color: rgb(168, 82, 248);
    cursor: pointer;
}
#b:active {
    background-color: rgb(66, 0, 75);
}
#b {
    background-color: purple;
    border: 3px solid rgb(66, 0, 75);
}
